<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 全站参数配置开始 -->
	<context-param>
		<param-name>encode</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<!-- 全站参数配置结束 -->
	
	<!-- 监听器配置开始 -->
	<listener>
		<listener-class>com.duiyi.listener.MySessionListener</listener-class>
	</listener>
	<!-- 监听器配置结束 -->
	
	<!-- 过滤器配置开始 -->
	<filter>
		<description>全站乱码过滤器</description>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>com.duiyi.filter.EncodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 过滤器配置结束 -->
	
  <servlet>
    <servlet-name>ValidateImgServlet</servlet-name>
    <servlet-class>com.duiyi.web.ValidateImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.duiyi.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.duiyi.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveUserServlet</servlet-name>
    <servlet-class>com.duiyi.web.ActiveUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendActiveCodeServlet</servlet-name>
    <servlet-class>com.duiyi.web.SendActiveCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckSessionServlet</servlet-name>
    <servlet-class>com.duiyi.web.CheckSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.duiyi.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.duiyi.web.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAllProductServlet</servlet-name>
    <servlet-class>com.duiyi.web.ListAllProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductImgServlet</servlet-name>
    <servlet-class>com.duiyi.web.ProductImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>com.duiyi.web.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.duiyi.web.AddToCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCartProductServlet</servlet-name>
    <servlet-class>com.duiyi.web.ListCartProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCartProductServlet</servlet-name>
    <servlet-class>com.duiyi.web.DeleteCartProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCartProductNumServlet</servlet-name>
    <servlet-class>com.duiyi.web.ChangeCartProductNumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.duiyi.web.ClearCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.duiyi.web.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAllOrderServlet</servlet-name>
    <servlet-class>com.duiyi.web.ListAllOrderServlet</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>ValidateImgServlet</servlet-name>
    <url-pattern>/servlet/ValidateImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveUserServlet</servlet-name>
    <url-pattern>/servlet/ActiveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendActiveCodeServlet</servlet-name>
    <url-pattern>/servlet/SendActiveCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckSessionServlet</servlet-name>
    <url-pattern>/servlet/CheckSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/servlet/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllProductServlet</servlet-name>
    <url-pattern>/servlet/ListAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductImgServlet</servlet-name>
    <url-pattern>/servlet/ProductImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/servlet/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/servlet/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCartProductServlet</servlet-name>
    <url-pattern>/servlet/ListCartProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCartProductServlet</servlet-name>
    <url-pattern>/servlet/DeleteCartProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartProductNumServlet</servlet-name>
    <url-pattern>/servlet/ChangeCartProductNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/servlet/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/servlet/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllOrderServlet</servlet-name>
    <url-pattern>/servlet/ListAllOrderServlet</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
